.Nav-Item__Button {
  --button-size: 1.5rem;
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--colorOnSecondaryVariant);
  color: var(--colorOnSecondaryVariant);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Nav-Item__Button:hover {
  cursor: pointer;
}
