


/*--------------------------Standard styling------------------------------*/
.category-toggle__modal-content {
  padding: 0;
}
.category-toggle__modal-actions {
  text-align: right;
}
.category-toggle {
  display:none;
  cursor: pointer;
 }
 .categories__selected-category{
  background: var(--colorSecondaryVariant);
}
/*--------------------------Screen Dependant Styling------------------------------*/


@media all and (min-width: 1081px) and (-webkit-min-device-pixel-ratio: 0.99) {
    .category-toggle {
     display:flex;
     flex-grow:1;
     text-align: center;
    justify-content: center;
    padding:0;
    margin:1rem;
    }
}
