.todo-item__content {
    padding: 0;
    margin :1%;
  }
.todo-item__header:hover{
    cursor: pointer;
  }

.todo-item__header {
    padding: 1%;
    display:block;
  }
  .todo-item__header p {
    margin: 0;
    padding: 1%;
    
  }
  .todo-item__header h2 {
    margin: 0;
    padding: 1%;
    display:inline;
  }
  .todo-item__notes{
    white-space: pre-wrap;
    margin:1%
  }

  .todo-item__modal-content {
    padding: 0;
  }
  .todo-item__modal-actions {
    text-align: right;
  }

  .todo-item__expand {
    padding: 0rem;
    padding-bottom: 2%;
    text-align: center;
    border-top: 1px solid var(--colorSecondaryVariant);
  }
  .map-container {
    height:20rem;
    width:100%;
  }
  .todo-item__icon-1{
    color:darkslategray;
  }
  .todo-item__icon-2{
    color:black;
  }
  .todo-item__icon-3{
    color:yellow;
  }
  .todo-item__icon-4{
    color:orange;
  }
  .todo-item__icon-5{
    color:red;
  }