.todo-item__content {
    padding: 0;
    margin :1%;
  }
.todo-item__header:hover{
    cursor: pointer;
  }

.todo-item__header {
    padding: 1%;
    display:block;
  }
  .todo-item__header p {
    margin: 0;
    padding: 1%;
    
  }
  .todo-item__header h2 {
    margin: 0;
    padding: 1%;
    display:inline;
  }

  .todo-item__modal-content {
    padding: 0;
  }
  .todo-item__modal-actions {
    text-align: right;
  }

  .todo-item__expand {
    padding: 0rem;
    padding-bottom: 2%;
    text-align: center;
    border-top: 1px solid var(--colorSecondaryVariant);
  }
  .map-container {
    height:20rem;
    width:100%;
  }
