.todo-page__contents{
    display:inline;
    align-content:center;
}
.todo-page__header{ 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items:baseline;
}

.todo-page__new-to-do-item-button {
    white-space:nowrap;
    font-size: medium; 
    display:flex;
    justify-self:center;
    margin: 2%;
    
}
.todo-page__category-header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items:baseline;
}
.todo-page__current-category-header{
    white-space: nowrap;
}
.todo-page__new-category-button{
    white-space:nowrap;
}

.todo-page__arrow-item-button{
    margin-left:0.5;
    margin-right:0.5;
}
.todo-page__task-list{
    width:100%;
}

@media all and (min-width: 1081px) and (-webkit-min-device-pixel-ratio: 0.99) {
    .todo-page__current-category-header{
        
    }
}