/*--------------------------Standard styling------------------------------*/
.category-toggle:hover{
    cursor: pointer;
  }

  .category-toggle__header-div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .category-toggle__modal-content {
    padding: 0;
  }
  .category-toggle__modal-actions {
    text-align: right;
  }

.category-toggle {
    flex-basis:25rem;
  }
/*--------------------------Screen Dependant Styling------------------------------*/


@media (min-width: 768px) {
    .category-toggle {
     display:none;
    }
}
