.category-toggle__content {
    padding: 0;
    
    margin :1%;
  }
.category-toggle__header:hover{
    cursor: pointer;
  }

.category-toggle__header {
    padding: 1%;
    display:block;

    
    
  }
  .category-toggle__header p {
    margin: 0;
    padding: 1%;
    
  }
  .category-toggle__header h2 {
    margin: 0;
    padding: 1%;
    display:inline;
  }

  .category-toggle__modal-content {
    padding: 0;
  }
  .category-toggle__modal-actions {
    text-align: right;
  }

  .category-toggle__expand {
    padding: 0rem;
    padding-bottom: 2%;
    text-align: center;
    border-top: 1px solid var(--colorSecondaryVariant);
  }
